.unhide {
    -webkit-filter: blur(0px) !important;
    filter: blur(0px) !important;
}


#answerDisplay {
    -webkit-filter: blur(15px);
    -webkit-transition-property: filter, -webkit-filter;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    
    filter: blur(15px);
    transition-property: filter, -webkit-filter;
    transition-duration: 2s;
    transition-timing-function: ease;
}